body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fddffc;
    color: #000000;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .banner {
    width: 100%;
    padding: 0.1em;
    color: #fddffc;
    background-image: linear-gradient(to bottom, #e5ff00 0%, #00fff2 50%, #ff00d4 100%);
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px #a200ff;
  }
  
  .banner h1 {
    font-size: 60px;
  }
  
  .middle-container,
  .wide-middle-container {
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
  }
  
  .middle-container {
    width: 24em;
    max-width: 100%;
  }
  
  .wide-middle-container {
    width: 30em;
    max-width: 100%;
    overflow-x: auto;
  }

  
  .middle-container a,
  .wide-middle-container a {
    text-decoration: none;
    color: #b654ae;
    transition: color 0.1s ease-in-out;
  }
  
  .middle-container a:hover,
  .wide-middle-container a:hover {
    text-decoration: none;
    color: #e03ad5;
  }

  .banner h1 a {
    text-decoration: none;
    color: #fddffc;
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px #a200ff;
  }

  .banner h1 a:hover {
    text-decoration: none;
    color: #fddffc;
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px #a200ff;
  }
  
  .middle-container h1,
  .wide-middle-container h1 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .middle-container input[type="text"],
  .middle-container input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 0.75em;
    background-color: rgb(255, 241, 255);
    border: 1px solid rgb(248, 198, 248);
    font-size: 16px;
  }
  
  .middle-container input[type="text"]:focus,
  .middle-container input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 0 1px #ff00d43d;
  }
  
  .middle-container input[type="submit"],
  .register-button {
    appearance: none; /* This can help remove default styles */
    -webkit-appearance: none; /* This is for Safari */
    -moz-appearance: none;  /* This is for Firefox */
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: 10px;
    color: white;
    background-color: #b654ae;
    border: 1px solid #95448f;
    transition: 0.1s ease-in-out;
    border-radius: 2px;
  }
  
  .middle-container input[type="submit"]:hover,
  .register-button:hover {
    color: white;
    background-color: #95448f;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    margin-bottom: 1em;
  }

  .part-of-speech {
    font-weight: bold;
    margin-top: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons button {
    flex: 1 1 0px;
    margin-bottom: 1em;
    padding: 6px;
    font-size: 0.8em;
    text-align: center;
    max-width: calc(33% - 15px);
    box-sizing: border-box;
    color: white;
    background-color: #b654ae;
    border: 1px solid #95448f;
    transition: 0.1s ease-in-out;
    border-radius: 2px;
  }
  
  .buttons button:hover {
    color: white;
    background-color: #95448f;
    cursor: pointer;
  }
  
  .buttons button:disabled {
    background-color: #d9a6d4;
    border: 1px solid #c497c0;
  }
  
  .buttons button:disabled:hover {
    background-color: #d9a6d4;
    border: 1px solid #c497c0;
    cursor: default;
  }

  #preference {
    display: flex;
    justify-content: space-around;
  }

  #change-preference {
    flex: 0;
    margin-bottom: 0em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 2em;
    margin-top: 1em;
  }
  
  
  .words-info {
    margin-bottom: 0.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    display: flex;
    justify-content: space-between;
  }
  
  .n-words, 
  .words-list {
    margin: 0;
  }
  
  .wide-middle-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    font-size: 0.9em;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 4em;
    overflow: hidden;
  }
  
  .wide-middle-container th {
    background-color: #8b53ac;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .wide-middle-container td {
    border-top: 1px solid #dddddd;
    padding: 10px;
    position: relative;
  }
  
  .wide-middle-container tr:nth-child(even) {
    background-color: rgb(249, 193, 247);
    transition: ease-in-out 0.1s;
  }
  
  .wide-middle-container tr:nth-child(odd) {
    background-color: rgb(250, 212, 249);
    transition: ease-in-out 0.1s;
  }
  
  .delete-button {
    color: red;
    background-color: transparent;
    border: none;
  }
  
  .delete-button:hover {
    color: black;
    background-color: transparent;
    border: none;
  }
  
  .delete-cell {
    transition: 0.12s ease-in-out;
  }
  
  .delete-cell:hover {
    background-color: rgb(255, 162, 219);
  }
  
  .intro {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 1.1em;
    text-align: center;
  }

  @media (max-width: 768px) {
    .buttons button {
      flex-basis: 100%;
      margin-bottom: 0.5em;
    }

    .wide-middle-container {
      width: 100%;
    }
  }